div#designShow {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 10000;
}

div#designLinks {
	position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 10001;
    padding: 5px 10px;
    display: none;
    border-radius: 6px;
    border: solid white 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
    margin: 6px;
    background-color: rgb(73, 73, 73);
}

#designLinks img {
	vertical-align: middle;
	border: 0;
}

.designData {
	position: fixed;
	bottom: 5px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
	font-family: arial;
	font-size: 12px;
	max-width: 500px;
	max-height: 600px;
	overflow-x: auto;
	overflow-y: auto;	
	color: black;
	z-index:10000;
    bottom: 50px;
}

.designData table {
	font-family: arial;
	font-size: 12px;
	border-collapse: collapse;
}

.designData table tr:first-child {
	font-weight: bold;
}

div.designData table th, div.designData table td {
    padding: 5px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #C0D0C4;
}