@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: 'Open Sans', Arial;
	font-size: 12px;
	padding: 0px;
	margin: 0px;	
	background-color: #ccc;
	overflow-x: hidden;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: -moz-none;
	-ms-user-drag: none;
	user-drag: none;
}

optgroup {
	font-style: normal;
	color: #000;
}

hr {
	height: 1px;
	color: #777;
	margin-top: 0px;
}

#loading {
	text-align: center;
	padding-top: 100px;
	font-size: 20px;
}

#loading b {
	font-size: 15px;
}

#loadingPanel {
	margin: auto;
	width: 350px;
	background: #202326;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
	color: white;
}

#page {
	margin: -1px;
	position: absolute;
	overflow: hidden;
	display: none;	
	background-color: white;
}

#designerTools {
	display:none;
}

#designCover {
	opacity:0;
	filter:alpha(opacity=0); 
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:10003;
	background-color:#00f;
}

#controlPanelShow {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 10px;
}

#controlPanelPin {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	width: 14px;
	height: 14px;
	z-index: 1;
}

#controlPanel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 195px; 
	min-width: 195px;
	border-right: 1px solid #191919;
	background: #dedede;
	overflow: hidden;
	outline: none;
	padding: 10px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: -moz-none;
	-ms-user-drag: none;
}

#controlPanelSize {
	background-color: red;
	opacity: 0;
	float: right;
	position: relative;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	margin-right: -10px;
	cursor: ew-resize;
}

#controlPanel h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: 15px;
	border-top: 1px solid #777;
	text-transform: uppercase;
	color: #FFF;
}

#controlPanel select {
	width: 100%;
    padding: 4px 26px 4px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
 	background-image: url("../images/down.light.svg");
 	background-repeat: no-repeat;
 	background-position: right 2px center;
}

#controlPanel select:focus {
    background-image: url("../images/up.light.svg");
    background-repeat: no-repeat;
    background-position: right 2px center;
}

table.stylesPanelTable tr:not(:first-child):hover {
	background: #D5D6D2;
}

table.stylesPanelTable select.propertiesPanelTable {
    -moz-appearance: none;
    -webkit-appearance: none;
 	background-image: url("../images/down.light.svg");
 	background-repeat: no-repeat;
 	background-position: right 2px center;
 }
 
table.stylesPanelTable select.propertiesPanelTable:focus {
    background-image: url("../images/up.light.svg");
    background-repeat: no-repeat;
    background-position: right 2px center;
}

#pageLock, #flowLock {
	display:none;
	color: white;
    padding: 0 10px;
    margin-top: 10px;
}

#controlControls, #actionActions {
	display:none;
}

#applicationsHeader, #controlsHeader {
	cursor: pointer;
}

#controlsList h3, #actionsList h3 {
	clear: left;
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
	margin-top: 5px;
	margin-bottom: 3px;
}

.headerToggle {
	padding-left: 2px;
	vertical-align: middle;
	padding-bottom: 4px;
	margin-right: -10px;
 	background-image: url("../images/up.light.svg");
 	background-repeat: no-repeat;
 	background-position: right 0 center;
 	height: 12px;
    width: 16px;
}

.headerToggle.down {
 	background-image: url("../images/down.light.svg");
}

.headerHelp {
	float: right;
	margin-left: -16px;
	padding-top: 3px;
}

.pageNav {
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	vertical-align: bottom;
	cursor: pointer;
}

.pageNavDisabled {
	opacity: 0.25;
	cursor: auto;
}

ul.design-controls, ul.design-actions {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	text-align: left;
}

li.design-control, li.design-action {
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 2px;	
	margin-right: 2px;
	margin-bottom: 5px;
	padding: 2px 3px;
	border: none;	
	color: #191919;	
	font-size: 12px;		
	text-align: center;	
	min-height: 24px;
	background: #494949;
	transition: transform 0.2s, background 0.3s ease;
}

li.design-control:hover, li.design-action:hover {
	background: #f4091b;
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.design-control img, .design-action img {
	display: block;
	margin: auto;
	max-width: 24px;
	max-height: 24px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.design-control span, .design-action span {
	display: block;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	margin-left: 40px;
	margin-top: -19px;
	padding-left: 15px;
}

#controlsMap {
	cursor: pointer;
	clear: left;
}

#pageMap {	
	text-align: left;	
	background-color: white;
}

#pageMapList {
	font-size: 12px;
	margin-top: 2px;
  	margin-bottom: 0;
	overflow-x: auto;
	overflow-y: auto;
	max-height: 500px;
}

.pageMapNamed {
	color: #000;
}

.pageMapNoName {
	color: #777;
}

img.conflictimgage {
	float: right;
	position: relative;
	margin-left: -2000px;
    margin-top: -1px !important;
    margin-right: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;        
}

#pageMapSearch {
	width: 100%;
	height: 22px;
	box-sizing: border-box;
	padding: 2px 5px;
	outline: 0;
}

#pageMapHighlight {
	height: 18px;
	float: right;
	position: relative;
	top: 22px;
	right: 2px;
	margin-top:-20px;
	line-height: 15px;
}

.design-map ul {
	list-style:none;
	padding-left:10px;
}

.design-map li {
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin: 2px 0;
}

.design-map span {
	display: block;
	cursor: pointer;	
	white-space: nowrap;
	transition: background 0.3s ease;
	padding: 1px 0;
}

.design-map span.selected {
	background-color: #ccc;
}

.design-map span:hover {
	background: #b2b2b2;
}

.design-map img {
	vertical-align: middle;
	height: 16px;
	width: 16px;
	background-color: #494949;    
    padding: 2px;
    border-radius: 2px;
    margin-right: 2px;
}

.mapMoveLeft {
	cursor: url(../images/move_left.svg) 16 16,w-resize !important
}

.mapMoveRight {
	cursor: url(../images/move_right.svg) 16 16,w-resize !important
}

.mapInsert {
	cursor: url(../images/insert.svg) 16 28,w-resize !important
}

.controlPanelVersion {
	width: 100%;
	height: 90px;
	margin-left: -20px;
	margin: 2px;
	font-family: 'Open Sans', Arial;
	font-size: 12px;
	font-weight: bold;	
	border-top: 1px solid #777;
	pointer-events: none;
}

#controlPanelVersion {
	padding-bottom: 20px;
}

.controlPanelVersion img {
	padding-top: 5px;
	margin-left: -16px;
	margin-bottom: -10px;
	width: 70px;
	height: 50px;
}

div#propertiesPanel {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;	
	min-width: 200px;
	overflow: hidden;
	padding: 0px 10px 20px 10px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

div#propertiesPanelInner {
	right: 10px;
}

.propertiesPanelDiv {
	padding-top:0px;
}

#propertiesPanelSize {
  	background-color: red;
  	opacity: 0;
  	float: left;
  	position: relative;
  	top: 0;
  	left: 0;
  	width: 4px;
  	height: 100%;
  	margin-left: -10px;
  	cursor: ew-resize;
}

.untilsPanelDiv .headerHelp {
	padding-top:5px;
}

#propertiesPanelPin {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	width: 14px;
	height: 14px;
	z-index: 1;
 	background-image: url("../images/right.light.svg");
 	background-repeat: no-repeat;
 	background-position: left -2px center;
}

div#propertiesPanel h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 15px;
	border-top: 1px solid #777;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFF;
}

.propertiesPanelDiv h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 11px;
}

table.propertiesPanelTable {
	font-family: 'Open Sans', Arial;
}

table.propertiesPanelTable td.conflict, table.propertiesPanelTable td.formConflict{
	max-width:50px;
	width:100%;	
	font-weight: bold;
	background-color: #e00;
	color: white;
}

.canSelect {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.validationPanelDiv h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 11px;
}

.actionsPanelDiv h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.actionsPanelDiv h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 11px;
	float: left;
}

.actionsPanelDiv img, .actionsPanelDiv i {
	display: inline-block;
	font-size: 15px;
	padding: 0 1px;
}

/* properties styles are in their own properties.css file for reuse with Rapid Admin */

table.stylesPanelTable  {
	font-family: 'Open Sans', Arial;
	width: 100%;
	background-color: white;
	border-spacing: 0px;
	font-size: 12px;
}

.stylesPanelTable td {
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #bbb;	
	width: 32px;
}

.stylesPanelTable tr:first-child > td {
	background: #D5D6D2;
	border-bottom: none;
	height: 21px;
    font-size: 12px;
}

.stylesPanelTable select {
	width: 100%;
	font-size: 11px;
	border-width: 0;
	border-radius: 0;
	padding: 3px 5px;
}

td.styleCell {
	text-align: left;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 143px;
	height: 20px;
	z-index: 10;
}

td.styleCell + td {
	width: 1%;
}

.styleCell span {
	height: 16px;
	padding-left: 3px;
	padding-right: 3px;
}

.styleCell span.styleColon {
	padding-left: 3px;
	padding-right: 3px;
}

td.styleCell.validationFail {
	text-decoration: line-through;
}

.styleAttr:hover, .styleValue:hover {
	background: #f2f2f2;
}

#styleInput {
	position: absolute;
	left:0;
	bottom:0;
	background-color: white;
	font-size: 12px;
	display: none;
	padding-left: 3px;
	padding-right: 0px;
	z-index:10016;
	white-space: nowrap;
}

#styleInput:focus {
	outline: none;
 	box-shadow: 0 0 5px red;
}

#styleHint {
	position: absolute;
	background-color: white;
	color: gray;
	font-size: 12px;
	display: none;
	padding-left: 3px;
	padding-right: 3px;
	z-index:10015;
}

#styleList {
	position: absolute;
	background-color: white;
	border: 1px solid gray;
	margin-top: 0px;		
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;	
	list-style-type: none;
	display: none;
	z-index:10015;
}

#styleList li.styleHint {
	background-color: gray;
}

#styleList li.mouseover {
	background-color: silver;
}

div.button {
	margin-left: -10px;
	margin-right: -10px;	
}

#appAdmin {
	margin-top: 0;
}

.buttons button {
	color: white;	
	margin-top: 5px;
	margin-right: -4px;
	vertical-align: middle;
	padding: 0px 8px 2px 8px;
	border: none;
	font-family: 'Open Sans', Arial;
	font-size: 12px; 
	background: #494949;
}

.buttons .buttonImage {
    padding-left: 7px;
    margin-left: 0px;
}

#appAdmin {
	padding-left:20px;
	padding-right:5px;
	height:30px;
}

#appAdminNewTab {
	margin-top: 0;
	height:30px;
 	background-image: url("../images/right.light.svg");
 	background-repeat: no-repeat;
 	background-position: left -5px center;
}

#pageNew {
	width: 58px;
	height: 25px;
}

#pageSave {
	width: 58px;
	height: 25px;
}

#pageView {
	padding-left: 8px;
    padding-right: 5px;
    width: 42px;
    height: 25px;
}

#pageViewNewTab {
	width: 20px;
	height: 25px;
 	background-image: url("../images/right.light.svg");
 	background-repeat: no-repeat;
 	background-position: right -1px center;
}

#redo, #undo, #pageEdit {
	height: 25px;
}

#redo {
	padding: 0px 10px 2px 7px;
}

.hover {
	cursor: pointer;
}

.hover:hover {
	background-color: #ccc;
}

.design-map li.selected {
	box-shadow: -1px 0 0 1px #ccc;
	background: #eee;
}

span.selected {
	background-color: #ccc;
}

/*

Selection Styles

*/

#selectionBorder {
	display:none;
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	z-index:10004;
	padding:5px;
}

.selectionBorderMove {
	border:2px dashed #6a94dc;
}

.selectionBorderNoMove {
	border:2px solid #6a94dc;
}

.selectionBorderInner {
	background-color:#d3e1ee;
	position:absolute;			
}

.selectionBorderInnerMove {
	cursor: move;		
}

.selectionBorderInnerNoMove {
	cursor: initial;		
}

.selectionBorderInner#selectionBorderLeft {
	width:5px;
	height:100%;	
	top:0px;
	margin-left:-5px;		
}

.selectionBorderInner#selectionBorderTop {
	width:100%;
	height:5px;
	left: 0px;
	margin-top:-5px;
}

.selectionBorderInner#selectionBorderRight {
	width:5px;
	height:100%;
	right:0px;
	margin-top:-5px;
}

.selectionBorderInner#selectionBorderBottom {
	width:100%;
	height:5px;
	bottom:0px;
	margin-left:-5px;
}

.selectionInsertCover {
	background-size: 30px 30px;
}

.selectionCursor {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: -moz-none;
  	-ms-user-select: none;
  	user-select: none;
	z-index: 10002;
}

#selectionCover {
	display: none;
	position: absolute;
	z-index: 10000;
}

#selectionCover div {
	background-color:white;
	width:100%;
	height:100%;
	opacity:0.5;
}

#selectionInsertCover {
	display:none;
	position:absolute;
	z-index:10000;
	background-size: 30px 30px;		
	border: 3px dashed #888;
	opacity: 0.1;
	padding: 3px;
}

#selectionInsertCover div {
	height: 100%;
	background: repeating-linear-gradient(45deg, #888, #888 10px, #fff 10px, #fff 20px);
}

.nonVisibleControl {
	position: fixed;
	bottom: 10px;	
	width: 24px;
	height: 24px;
	z-index: 10006;
	background-color: rgb(73, 73, 73);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
	padding: 3px;
    border: 2px solid white;
}

.desktopCover {
	position: absolute;
	background-color: #ccc;
	display: none;
	z-index: 10005;
}

/*

Dialogue styles

*/

#dialogueCover {
	background-color:white;
	opacity:0.75;
	position:absolute;
	left:0px;
	top:0px;
	z-index:10100;
}

#dialogue {
	position:absolute;
	background-color:white;	
	left:0px;
	top:0px;
	z-index:10101;
	border:1px solid black; 
	box-shadow:0 0 20px;
}

.dialogue table {
	width:100%;
}

.dialogue span.fa {
	vertical-align:middle;
	font-size:20px;
	min-width:20px;
	min-height:20px;
}

.dialogue span.fa_name {
	vertical-align:middle;
	margin-left:5px;
}

/*

Hint style

*/

.hint {
	position:absolute;
	max-width: 300px;
	background-color: white;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	z-index:10100;
}

.hint span {
	background-color: black;
	display: inline-flex;
}

.hint span i {
	color: white;
	margin: 5px !important;
}

/*

Tip styles

*/

#tipDiv {
	position:absolute;	
	z-index:10012;
}

#tipDivMain {
	background-color: white;
	border: 5px solid;
	border-radius: 5px;
	padding: 10px;	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#tipArrow {	
	text-align: center;
}

#tipDivTitle {
	width: 100%;
	margin-left:-10px;
	margin-top:-10px;
	margin-bottom: 10px;
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	border-bottom: 1px solid red;
	font-weight:bold;
	font-size:16px;
}

#tipDivBody {
	font-size:16px;
	opacity: 0.9;
}

#tipDivButtons {
	width: 100%;
	margin-left:-10px;
	margin-top: 10px;
	margin-bottom:-10px;
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	border-top: 1px solid red;
}

#tipDivButtons button {
	width: 73px;
	width: -moz-max-content;
	margin-left:3px;
	margin-right:3px;
	padding: 2px 0;
}

#tipDivButtons select {
	width: 55px;
	margin-left:3px;
	margin-right:3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#tipDivButtons select option {
	background: #FFF;
}

#tipDivButtons button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#tipDivButtons button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

select {
  padding: 0 24px 0 5px;
  border: none;
  background: #494949;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Open Sans', Arial , sans-serif;
  font-size: 12px;
  max-width: 100%;
}

select:focus {
  outline: 0;
}

select option {
  color: #000;
}

.buttons button:disabled {
  color: #6A6A6A;
}

.buttons button:disabled:hover {
  color: #6A6A6A;
}

#controlPanel, #propertiesPanel, table.propertiesPanelTable, table.stylesPanelTable, .propertyDialogue {
  font-family: 'Open Sans', Arial;
}

#propertiesPanel #propertiesPanelInner .untilsPanelDiv .buttons button {
    padding: 0 6px;
    height: 24px;
}

.untilsPanelDiv {
	padding: 0px 3px;
}

.untilsPanelDiv i:not(.headerHelp){
	font-size:20px;
}

.dialogueGrid {
	border-collapse: collapse;
}

.dialogueGrid tr:not(:first-child) td {
  border: 1px solid #aaa;
}

.dialogueGrid select {
  border: none !important;
}

button {
  border: none;
  color: #FFF;
  background: #494949;
  font-family: 'Open Sans', Arial;
  padding: 0px 8px 2px 8px;
  outline: none;
  transition: background 0.3s ease;
  cursor:pointer;
}

button:hover {
	text: #000;
	background: #b2b2b2;
}

button:disabled {
  color: #6a6a6a;
  cursor: default;
}

.normalInputs input:not([type]) {
  font-family: 'Open Sans', Arial;
}

input[type=checkbox] {
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:before {
  width: 11px !important;
  height: 11px !important;
  display: block;
  content: '';
  background: #FFF;
  margin: 0px !important;
  cursor: pointer;
  border: 1px solid #999;
  background: transparent linear-gradient(#FFF, #E0E0E0);
}

input:hover[type=checkbox]:before {
  border: 1px solid #6F6F6F;
  background: transparent linear-gradient(#EBEBEB, #999);
}

input:active[type=checkbox]:before {
  border-color: #999;
}

input[type=checkbox]:checked:before {
  width: 10px;
  height: 10px;
  display: block;
  content: '';
  margin: 0px;
  background-color: #FFF;
  border: 1px solid #600;
  background: transparent linear-gradient(#EBEBEB, #BABABA);
}

input:hover[type=checkbox]:checked:before {
  background: transparent linear-gradient(#EBEBEB, #999);
}

input[type=checkbox]:checked:after {
  content: '';
  position: absolute;
  margin-top: -12.5px !important;
  margin-left: 4px !important;
  border-radius: 2px;
  border-right: 3px solid #4D0000;
  border-bottom: 3px solid #4D0000;
  width: 3px !important;
  height: 7px !important;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input {
    font-family: 'Open Sans';	
}

h2, #controlPanelVersion, #controlsList h3 {
  color: white;
}

table.propertiesPanelTable, table.stylesPanelTable {

}

#controlPanel, #propertiesPanel {
  background: #202326;
}

.buttons button:active {
  background: transparent linear-gradient(#292929, #121212);
}

.buttons button:disabled {
  background: #DDD;
}

.buttons button:disabled:hover {
  cursor: default;
  background: linear-gradient(to bottom,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);
}

button:disabled:hover {
  cursor: auto;
  background: linear-gradient(to bottom,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);
}

select:hover {
	color: #000;
	background: #b2b2b2;
}

#flowCanvas {
	background-color: white;
	text-align:center;
	padding:20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
}

.flow .action {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flow .action:hover {
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.7);
    opacity: 0.6;
}

.flow .action span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin:20px;
}

.flow .active {
    border: 1px dotted green;
}

.flow .hover {
    border: 1px dotted red;
}

.flow .jtk-connector {
    z-index: 4;
}

.flow .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flow .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
}

.flow .aLabel.jtk-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.flow.jtk-connected {
    border: 1px solid green;
}

.jtk-drag {
    outline: 4px solid pink !important;
}

path, .jtk-endpoint {
    cursor: pointer;
}

.jtk-overlay {
    background-color:transparent;
}

#save {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
    background: #f4091b;
    text-align: center;
    font-size: 16px;
    margin-top: -45px;
    z-index: 10006;
}

#save span {
	vertical-align: middle;
	padding: 0 2px;
}

#save .fa {
	font-size: 24px;
}

span.fr {
	width: 25px;
	font-size: 15px;
}

div.CodeMirror {
	margin: 5px 0;
	height: unset;
    border: 1px solid #bbb;
}

div.CodeMirror-scroll {
	min-height: 150px;
}

#selectPeerLeft > i,
#selectParent > i,
#selectChild > i,
#selectPeerRight > i,
#swapPeerLeft > i,
#addPeerLeft > div,
#addPeerRight > div,
#swapPeerRight > i {
    background-repeat: no-repeat;
    background-position: center center;
	min-height: 24px;
	min-width: 24px;
}

#selectPeerLeft > i {
    background-image: url("../images/left.light.svg");
}

#selectParent > i {
    background-image: url("../images/up.light.svg");
}

#selectChild > i {
    background-image: url("../images/down.light.svg");
}

#selectPeerRight > i {
    background-image: url("../images/right.light.svg");
}

#swapPeerLeft > i {
    background-image: url("../images/swap_left.svg");
}

#addPeerLeft > div {
    background-image: url("../images/add_left.svg");
}

#addPeerRight > div {
    background-image: url("../images/add_right.svg");
}

#swapPeerRight > i {
    background-image: url("../images/swap_right.svg");
}

/*IE10+ CSS overrides*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
}