@font-face {		
  font-family: 'Open Sans';		
  font-style: normal;		
  font-weight: 400;		
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');		
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');		
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;		
}

table.propertiesPanelTable  {
	width: 100%;
	background-color: white;
	border-spacing: 0;	
}

.propertiesPanelTable tr {
	text-align:left;
}

.propertiesPanelTable td {
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.propertiesPanelTable td.propertyHeader {
	padding: 3px;
	background: #494949;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.propertiesPanelTable td:first-child:not(.propertyHeader) {
	padding-left: 5px;
	padding-right: 19px;
	padding-top: 2px;
    padding-bottom: 2px;
}

.propertiesPanelTable td:nth-child(2) {
	width: 100%;
	padding-left: 0;
	max-width: 50px;
	/*transition: background 0.3s ease;*/
}

.propertiesPanelTable td:nth-child(2):hover {
	/*background: #D5D6D2;*/
}

.propertiesPanelTable h3 {
	display: inline-block;
	margin: auto;
	font-size: 12px;
    letter-spacing: 0.5px;
}

.propertiesPanelTable input {
	width: 100%;
	font-size: 12px;
	text-indent: 3px;
	border: none;
	/*transition: background 0.3s ease;*/
}

.propertiesPanelTable input:focus {
    outline: none;
}

.propertiesPanelTable tr:hover td:first-child:not(.propertyHeader) {
	background: #D5D6D2;
	font-weight: bold;
}

.propertiesPanelTable tr:hover td:nth-child(2), .propertiesPanelTable tr:hover td:nth-child(2) input, .propertiesPanelTable tr:hover td:nth-child(2) select {
	background: #D5D6D2;
}

.propertiesPanelTable input[type=radio] {
	width: auto;
	margin-top: 1px;
	padding-left: 5px;
}

.propertiesPanelTable input[type=checkbox] {
	width: auto;
	margin-top: 2px;
  	margin-left: 2px;
  	vertical-align: top;
}

.propertiesPanelTable input[type=file] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable input[type=submit] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable select,
.propertiesPanelTable tr:hover td:nth-child(2) select {
	width: 100%;
	height: 19px;
	background: none;
	color: black;
	font-size: 12px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url("../images/down.dark.svg");
	background-repeat: no-repeat;
	background-position: right 2px center;
	text-overflow: ellipsis;
}

.propertiesPanelTable tr:hover td select:hover, .propertiesPanelTable tr:hover td input:hover {
	background-color: #f2f2f2;
}

td.propertySubHeader select:hover {
	background-color: #f2f2f2;
}

.propertiesPanelTable select:focus,
.propertiesPanelTable tr:hover td:nth-child(2) select:focus {
	background-image: url("../images/up.dark.svg");
}

.propertiesPanelTable b {
	padding-left: 5px;
}

.propertiesPanelTable td.propertyAdd {
	padding: 0;
	background: #D5D6D2;
}

.propertiesPanelTable.propertiesDialogueTable tr:hover td {
	background: #D5D6D2;
	font-weight: bold;
}

.propertyAdd select {
	margin-left: 0;
	margin-right: 0;
}

i.controlHelp, img.controlHelp {
	float: right;
	font-size: 15px;
}

img.validationHelp {
	float: right;
	margin-right: -17px;
}

i.actionHelp, img.actionHelp {
	float: right;
	margin-top: 1px;
	color: #494949;
	margin-right: -17px;
}

i.propertyHelp, img.propertyHelp {
	float: right;
	margin-right: -17px;
	color: #494949;
	font-size: 15px;	
}

.fa {
	cursor:pointer;
	transition: transform 0.2s;
}

.fa:not(.fa-stack):not(.fa-stack-1x):hover{
	transform: scale(1.2);
}

.fa-stack {
	display:inline-block;
	width: 18px;
	line-height: normal;
	height: auto;
	vertical-align:top;
	font-size:15px;
	right: 5px;
}

.fa-stack:hover {
	transform: scale(1.2);
}

i.fa.fa-arrow-up.fa-stack-1x {
	top:-3px;
}

i.fa.fa-arrow-down.fa-stack-1x {
	top:3px;
}

i.fa.fa-file.fa-stack-1x {
	font-size: 11px;
}

.reorder.fa-stack, .copyAction.fa-stack {
	top: 2px;
}


i.bottomFile.fa.fa-file.fa-stack-1x {
	top: 5px;
	left: 5px;	
}

.propertyHeader .fa-stack {
	color:white;
}

.edit.fa-stack {
	font-size: 15px;
}

.delete.fa-stack {
	bottom: 1px;
}

i.delete.fa.fa-trash {
	font-size: 18px;
	vertical-align:middle;
	margin-top: -3px;
}

.iconsPanel {
	display:inline-block;
	float: right;
	min-width: 45px;
	text-align: right;
}

.propertyHeader > .iconsPanel {
	min-width: unset;
}

div.resizeX {
	position:absolute;
	top:0;
	left:0;
	width: 5px;
	height: 100%;
	background-color: red;
	opacity: 0;
	cursor:ew-resize;
	z-index: 100;
}

div.propertyDialogue {
	position: absolute;
	right: 10px;
	display: none;
	z-index:10012;
	background:#D5D6D2;
	padding: 10px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: -moz-none;
  	-ms-user-select: none;
  	user-select: none;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.propertyDialogue span {
	vertical-align:middle;
	min-height: 20px;
}

.propertyDialogue span.fa {
	font-size: 20px;
	min-width: 25px;
}

.propertyDialogue table {
	width: 100%;
}

.propertyDialogue td.selected {
	background-color: #bbb;
}

.propertyDialogue input:focus {
    outline: 0;
}

div.propertyDialogue td>select {
    -moz-appearance: none;
    -webkit-appearance: none;
	background-image: url("../images/down.dark.svg");
	background-repeat: no-repeat;
    background-position: right 2px center;
    padding-bottom: 2px;
    
}

div.propertyDialogue td>select:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
	background-image: url("../images/up.dark.svg");
	background-repeat: no-repeat;
    background-position: right 2px center;
}

.propertyAction{
	cursor:pointer;
	color: #00e;
	text-decoration: underline;
}

.propertySubHeader {
	text-transform: uppercase;
	background: #D5D6D2;
	text-align: right;
	
}

td.propertySubHeader {
	text-align: right;
}

.propertySubHeader h3 {
	float: left;
	padding-top: 2px;
}

.propertySubHeader i.actionHelp {
	font-size: 17px;
}

.dialogueTable {
	width:100%;
	border-collapse: collapse;
	margin-left: 1px;
	font-size: 11px;
}

.dialogueTable tr:not(:first-child) td:not(:last-child) {
	border: 1px solid silver;
}

.dialogueTable td {
	height:22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:top;
	box-sizing: border-box;
	transition: background 0.3s ease;
	padding: 0;
}

.dialogueTable td:last-child {
	width: 45px;
	overflow: visible;
}

.dialogueTable.dialogueTableNoDelete td:last-child {
	width: auto;
	overflow: visible;
}


table.inputTable.dialogueTable td:not(:last-child),
table.outputTable.dialogueTable td:not(:last-child) {
	width: 50%;
}

table.inputTable.dialogueTable td:first-child {
	width: 25px;
}

table.inputTable.dialogueTable td:last-child,
table.outputTable.dialogueTable td:last-child {
	width: 45px;
	padding-left: 8px;
}

.dialogueTable select:hover, .dialogueTable input:hover{
	background: #f2f2f2;
}

.dialogueTable input:not([type]) {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0px 10px;
	font-size: 11px;
}

.dialogueTable input[type=checkbox] {	
	margin-top: 7px;
}

.dialogueTable input[type=file] {
	margin-top: 3px;
	margin-left: -1px;
}

.dialogueTable input[type=submit] {
	margin-top: 3px;
	margin-left: -1px;
}

.dialogueTable select,
.dialogueTable select:hover {
    width: 100%;
    height: 100%;
    padding: 2px 26px 2px 5px;
    font-size: 11px;
    border-radius: 0;
    background: white;
    color: black;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../images/down.dark.svg");
    background-repeat: no-repeat;
    background-position: right 2px center;
}

.dialogueTable select:hover {
	background-color: #f2f2f2;
}

.dialogueTable select:focus {
	background-image: url("../images/up.dark.svg");
}

.dialogueTable tr:not(:first-child):not(:last-child) td:not(:last-child) select {
  border: 0;
}

.dialogueTable img {
	margin-top:1px
}

.dialogueTable b {
	vertical-align: middle;
}

table.inputs tr td:last-child, table.outputs tr td:last-child  {
	overflow: visible;
}

.dialogueTableBorders tr:not(:first-child) td {
	border: 1px solid silver;
}

.dialogueTableBorders select {
	border: 0;
}

.dialogueTableAllBorders td {
	border: 1px solid silver;
}

.dialogueTableAllBorders select {
	border: 0;
}

.dialogueTextClip td:first-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 1px;
}

.dialogueTextClip td:last-child {
	width: 25px;
}

.dialogueTableWhiteBackgroundText tr:not(:first-child) td:not(:last-child) {
	background: white;
	padding: 0 3px;
}

.inputTableWithTitles tr:first-child td:not(:last-child) {
	text-align:center;
	overflow: visible;
}

.inputTableWithTitles tr td:not(:first-child):not(:nth-child(7)):not(:last-child) {
	min-width: 100px;
}

.inputTableWithTitles tr td:not(:last-child) {
	max-width: 25px;
}

.inputTableWithTitles tr td:last-child i {
	margin-top: 2px;
}

.inputTableWithTitles tr td:last-child i.delete.fa.fa-trash {
	margin-top: 1px;
}

.inputTableWithTitles tr td:nth-child(6) span {
	padding-left: 8px;
	padding-right: 2px;
	font-size: 14px;
}

.inputTableWithTitles tr:not(:nth-child(1)) td:nth-child(6) {
    font-size: 14px;
}

.inputTableWithTitles tr:not(:nth-child(1)) td:nth-child(7) {
	padding-left: 6px;
	padding-right: 6px;
    padding-top: 2px;
    font-size: 14px;
}

.inputTableWithTitles tr:not(:first-child) td:nth-child(6):hover,
.inputTableWithTitles tr:not(:first-child) td:nth-child(7):hover {
	background: #e6e6e6;
}

/* distribute the remaining width over the first 4 non-sized columns */
.inputTableWithTitles td:not(:first-child):not(:last-child) {
	width: 25%;
}

td.center {
	text-align:center;
}

td.inputBorderRight {
	padding-right: 5px;
}

td.paddingLeft5 {
	padding-left: 5px;	
}

.normalInputs input {
	width: auto;	
}

.normalInputs input:not([type]) {
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
}

.nopadding td {
	padding: 0;
}

.titleButton {
	padding-top: 0;
  	padding-right: 5px;
  	padding-left: 5px;
  	margin-left:5px;
	margin-right:1px;
	margin-bottom:1px;
	float: right;
}

.titleButton span {
	font-family: "FontAwesome";
	font-size: 10px;
}

#restrictionsDialogue .dialogueTable tr td:not(:last-child) {
	border: 1px solid silver;
}

#restrictionsDialogue select {
	padding-top: 0;
	margin-top: 1px;
	margin-left: -2px;
	border-width: 0;
}

#restrictionsDialogue select:hover {
	border-width: 0;
}

#restrictionsDialogue input {
	padding-top: 2px;
	border-width: 0;
	border-radius: 0;
	height: 18px;
	margin-top: -1px;
	margin-left: -2px;
	box-shadow: none;

}

.webserviceTable input {
	border-radius: 0;
	border: none !important;
	box-shadow: none !important;
}

.webserviceTable select {
	height: 20px;
	margin-top:-1px;
}

.webserviceTable button {
	margin-top:10px;
}

span.webserviceTitle {
	display: block;
	margin-top: 4px;
}

textarea {
	box-sizing: border-box;
	border:none;
}

.overflowDiv {
	height: 95%;
	overflow: auto;
	overflow-x: hidden;
}